<div class="comment">
  <h4>Add a comment:</h4>
  <%= form_for([article, article.comments.build]) do |f| %>
    <%= render 'comments/error_messages' %>
    <p>
    User: <%= current_user.name %><br>

    <%= f.hidden_field(:commenter, value: current_user.name)%>
    </p>
    <p>    
      <%= f.text_area :body, class: 'form-control' %>
    </p>
    <p>
      <%= f.submit class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
