
<div class="comments">
  <h4>Comments:</h4>

    <a data-toggle="collapse" href="<%= "#collapse-target_#{article.id}" %>">
      <span id="<%= "collapse-source_#{article.id}" %>" class="glyphicon glyphicon-plus-sign" aria-hidden="true" onclick="toggle_glyph(this.id)"></span>
    </a>

  
  <% if @comment != nil && @comment.errors.any? %>
    <div id="<%= "collapse-target_#{article.id}" %>" class="collapse in">
  <% else %>
    <div id="<%= "collapse-target_#{article.id}" %>" class="collapse">
  <% end %>

    <% article.comments.each do |comment| %>
      <%= render 'comments/comment', :comment => comment %>
    <% end %>

    <% if logged_in? %> 
      <%= render 'comments/comment_form', :article => article %>
    <% end%> 

  </div>
</div>