<p id="notice"><%= notice %></p>

<table class="table table-bordered">
<thead>
  <th>Ip:</th>
  <th>Request count:</th>
</thead>  

<tbody>
  <tr>
    <td><%= @request_score.ip %></td>
    <td><%= @request_score.request_count %></td>
  
  </tr>
</tbody>>
</table>

<%= link_to 'Edit', edit_request_score_path(@request_score) %> |
<%= link_to 'Back', request_scores_path %>
