<article>
  <div class="content">
    <header>
      <h2>
        <%=link_to article.title, article_path(article) %> 
        <% if !article.published? %>
          (Draft)
        <% end %>
      <h2>
    </header>
    <div>
        <p><%= simple_format(article.text) %></p>
    </div>
  </div>
  
  <%= render 'article_footer', :article => article %>

  <% if article.comments.count > 0 %>
    <h4>Comments:</h4>
  <% end %>
  <%= render article.comments %>
  <% if logged_in? %> 
    <%= render 'comments/comment_form', :article => article %>
  <% end%>
</article>
</br>

