
<article>
  <div class="article-header">
    <div class="article-header-container">
      <span class="title"><%= link_to article.title, article_path(article) %></span>
      
      <% if !article.published? %>  
        <span class="draft draft-link">(Draft: unpublished)</span>
        <span class="draft-link">

          <%= form_for article do |f| %>
            
            <%= f.check_box :published, { :onclick => "$(this.form).submit();" } %> publish now!

          <% end %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="article-content">
      <p><%= simple_format(article.text) %></p>
  </div>
  
  <%= render 'articles/article_footer', :article => article %>
  
  <%= render 'comments/comments', :article => article %>  
</article>
</br>

