<article>
  <div class="content">
    <header>
      <h2>
        <%=link_to article.title, article_path(article) %> 
      <h2>
    </header>
    <div>
        <p><%= simple_format(article.text) %></p>
    </div>
  </div>
  <footer>

    <% if(logged_in? && (current_user.admin? || current_user?(article.user))) %>  
    <span><%= link_to 'Edit', edit_article_path(article) %></span> 
    |
    <span><%= link_to 'Destroy',  article_path(article),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %>
    </span>&nbsp;&nbsp;&nbsp;&nbsp;
    <% end %>
    <span>posted by: <%= link_to article.user.name, article.user %></span>
    <span class="timestamp">&nbsp;&nbsp;&nbsp;&nbsp;
      created at <%= time_ago_in_words(article.created_at) %> ago.
    </span>
  </footer>
<% if article.comments.count > 0 %>
  <h4>Comments:</h4>
<% end %>
<%= render article.comments %>
<% if logged_in? %> 
  <%= render 'comments/comment_form', :article => article %>
<% end%>
</article>
</br>

