<h2>
  Listing articles 
  <% if @user %>
    of <%= link_to @user.name, @user %>
  <% end %>
 (<%= @articles.count %>)
</h2>

  <%= will_paginate @articles%>
  <%= render @articles %>
  <%= will_paginate %>



