<h2>
  Listing articles 
  <% if @user %>
    of <%= link_to @user.name, @user %>
  <% end %>
 (<%= @articles.count %>)
</h2>

<%= will_paginate @articles, {:class => 'apple_pagination'} %>
<%= render @articles %>
<%= will_paginate @articles, {:class => 'apple_pagination'} %>



