<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3>
        <%= @user.name %>
      </h3>      
      <%= @user.email %>      
    </section>
  </aside>
  <div class="col-md-8">
    <% if @articles.any? %>      
      <h4>articles (<%= @articles.count %>)</h4>
      <%= will_paginate @articles%> 
      <ol>
        <% @articles.each do |article| %>
          <li>
            <% if article.published? %>
              <%= link_to article.title, article %>
            <% else %>
              <%= link_to article.title + " (unpublished)", article, class: 'draft-link'%>
            <% end %>
          </li>          
        <% end %>
      </ol>
      <%= will_paginate @articles%> 
    <% end %>
  </div>
</div>

