<script>
  $(function() {
    new app.Users;
  });
</script>

  <p>
    <h1><strong><%= link_to blog_name, welcome_index_path %></strong></h1>
    <hr></hr>
    <h2><%= link_to 'About', controller: '/welcome' %></h2>
  </p></br>
  <%= link_to "All articles", controller: '/articles' %></br></br>

  <% if current_user %>                
    <%= link_to "My Articles", user_articles_by_user_index_path(current_user) %></br></br>
  <% end %>
  

  <span class="glyphicon glyphicon-search" aria-hidden="true"> </span> Articles by:</br>
  <div class="user-search">
    <%= form_tag( user_articles_path, :method => 'get' ) do %>      
      <%= text_field_tag :user_name, params[:user_name], id: "user-search-txt", placeholder: 'User name.....', class: 'form-control' %>

      <div class="results" id="user-search-results"></div>

    <% end %>
  </div>
  <hr></hr>
  <h4>Categories:</h4>

  <% if( logged_in? && current_user.admin? ) %>
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
    <%= link_to "Add new category", new_category_path %></br>
  <% end %>
  </br>

  <ul class="list-group">
    <% Category.all.each do |category| %>
      <li class="list-group-item">
        <span class="badge"><%= category.articles.published(true).count %></span>
        <%= link_to category.cat_name, category %> 
      </li>
    <% end %>
  </ul>

  <hr></hr>

  <%= link_to "All categories", controller: '/categories' %>
  <hr></hr>
  <h4><strong>RECENT POSTS</strong></h4><br>

  <% @recent_articles = Article.most_recent %>
  <% @recent_articles.each do |article| %>
    <% title = "" %>
    <% if article.title.length > 19 %>
      <% title = article.title.slice(0, 18) + "..." %>
    <% else %>
      <% title = article.title %>
    <% end %>
    <%= link_to title, article %>
    <hr></hr>
  <% end %>
