<script>
  $(function() {
    new app.Users;
  });
</script>

<div class="fixed">
  <p>
    <h1>SIDEBAR</h1>
    <p><%= link_to "All articles", controller: 'articles' %></p>
    <% if current_user %>                
      <p><%= link_to "My Articles", controller: 'articles', :user => current_user%></p>
    <% end %>
    </p>
    Articles by:</br>
    <div class="user-search">
      <%= form_tag( user_articles_path, :method => 'get' ) do %>
      <%= text_field_tag :username, params[:username], id: "user-search-txt", placeholder: 'User name.....' %>
      <!--<input type="text" id="user-search-txt", name="username", value="x", autofocus>-->
      <div class="results" id="user-search-results"></div>
      <!--<%= button_tag(type: 'submit')%>-->
      <% end %>
    </div>

</div>
