<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container">  
    
    <%= render 'layouts/header' %>

    <div class="row">
      <div id="menu" class="col-md-3">
        <%= render 'layouts/sidebar' %> 
      </div>
      <div id="contents" class="col-md-8">
        <%= render 'layouts/content' %>
      </div>
    </div>
  </div>
  
  <%= debug(params) if Rails.env.development? %>

</body>
</html>
