<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>  
    
  <%= render 'layouts/header' %>

  <div id="main-container" class="container"> 

    <div class="row">
      <div class="col-md-3 fixed">
        <%= render 'layouts/sidebar' %> 
      </div>
      <div class="col-md-8">
        <%= render 'layouts/content' %>
      </div>
    </div>
  </div>
  <%= debug(params) if Rails.env.development? %>

</body>
</html>
