<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= render 'layouts/header' %>
  <%= render 'layouts/sidebar' %> 

  <div class="content-background">
    <% flash.each do |message_type, message| %>
	      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
	  <%= yield %>
  </div>

  <%= debug(params) if Rails.env.development? %>

<!--
      <%= form_tag( user_articles_path, :method => 'get', class: 'navbar-form navbar-left' ) do %>
        <div class='form-group'>
        <%= text_field_tag :query, params[:query], id: "navbar-search-input", class: 'form-control', placeholder: 'User name.....' %>  
        </div>
        <div class="results"></div>
         <%= button_tag(type: 'submit', id: 'navbar-search-btn', class: 'btn btn-default') do %>
           <i class='fa fa-search fa-fw'></i> Search
         <% end %>  
      <% end %>
-->

</body>
</html>
